body{
  background-color: var(--site-background-color);
}

.page-heading h3{
  font-size: 30px;
  text-decoration: underline;
}

.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}

.book-container{
  margin-top: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.image{
  height: 350px;
}

.text-container{
  display: flex;
  align-items: start;
  justify-content: left;
}

.book-title{
  margin-left: 18px;
  font-size: 30px;
  font-weight: bold;
  color: var(--site-color);
}

.js-grid a{
  text-decoration: none;
}

