body{
  background-color: var(--site-background-color);
  color: var(--site-color);
}

.quotes{
  margin-bottom: 12px;
  font-size: 2rem;
  font-family: roboto;
}

.header{
  margin-bottom: none;
}

.book-heading{
  font-size: 3.2rem;
  font-weight: bold;
  color: var(--site-color);
  margin: 0;
  margin-bottom: 12px;
  text-decoration:underline;
}
