body{
  background-color: var(--site-background-color);
}

main h1{
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: var(--site-color)
}

main h2{
  font-size: 2rem;
  color: var(--site-color)
}

.gmail-icon{
  height: 50px;
  margin-right: 20px;
}

.contact-container{
  display: flex;
  padding: 14px;
  width: 500px;
  align-items: center;
  
}


.email-text{
  font-size: 1.8rem;
  color: var(--site-color);
}