body{
  background-color: var(--site-background-color);
  color: var(--site-color)
}

main h1{
  text-align: center;
  font-size: 3rem;
  color: var(--site-color);
}

.rotator-container{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden; 
}

.image-container{
  position: relative;
  height: 300px;
  width: 199px;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(0deg); 
  transition: transform 0.7s;
  padding-bottom: 20px;
}

.image-container span{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  transform: rotateY(calc(var(--i)*45deg)) translateZ(400px);
}

.image-container span img{
  position: absolute;
  left:0;
  top: 0;
  width: 100%;
  height: 350px;
}

.btn-container{
  position: relative;
  width: 80%;
}

.btn{
  position: absolute;
  bottom: -80;
  background-color: var(--button-background-color);
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover{
  filter: brightness(1.5);
}

#prev{
  left: 20%;
}

#next{
  right: 20%;
}

.text p{
  font-size: 38px;
  font-family: Arial;
  text-align: center;
}

.text{
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width:412px){
  .rotator-container{
    display: none;
  }  
}

.button-effect{
  background-color: var(--button-background-color);
  border-radius: 5px;
  padding: 20px 55px;
  text-decoration: none;
  position: relative;
  box-shadow: 0 4px 8px rbga(0,0,0,.8);
  overflow: hidden;
  color: black;
  width: 40px;
  font-size: 20px;
}

.button-effect::before{
  content: "";
  position: absolute;
  background-color: #131720;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  left: var(--xPos);
  top: var(--yPos);
  transform: translate(-50%, -50%);
  transition: width 0.5s, height 0.5s;
}

.button-effect span{
  position: relative;
  z-index: 1;
}


.button-effect:hover::before{
  width: 300px;
  height: 300px;
}

.button-effect:hover{
  color: white;
}

.button-effect-container{
  display: flex;
  justify-content: center;
  align-items: center;
}