:root{
  font-size: 62.5%;
  --site-background-color: white;
  --site-color: black;
  --button-background-color:pink;
}

@media only screen and (max-width:412px){
  .left-section nav{
    display: none;
  }

  .page-heading h3{
    margin: 0;
    font-size: 2.6rem;
  }

  .grid{
    grid-template-columns: repeat(2,1fr);
    row-gap: 22px;
  }

  .image{
    height: 220px;
  }

  .book-title{
    font-size: 2.2rem
  }
}
